# dependencies
node_modules/

# next.js build cache (but we DO commit out/ so Cloudflare can serve it with no build step)
.next/
build/

# misc
.DS_Store
*.pem
.vercel
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
